.titleLayout {
    grid-column: 2 / -2;
}

.formLayout {
    grid-column: 2;
    grid-row: 2;
}

.contactLayout {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
}

.contactInfo {
    padding: 24px 48px;
    background-color: var(--clr-main);
    max-width: 400px;
}

.link {
    color: var(--clr-light);
    margin: 0px 8px;
}

.link:hover {
    color: var(--clr-dark);
}
