html {
    scroll-behavior: smooth;
    /* padding: 0px 2vw; */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: var(--font-type);
    color: var(--clr-dark);
}

:root {
    --clr-dark: #00171f;
    --clr-main: #8b56e3;
    --clr-light: #fff;

    --font-type: "Roboto", sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;

    --title-size: 96px;
    --subtitle-size: 24px;
    --body-size: 11px;

    --padding-top: 60px;

    --transition-200: 200ms ease-out;
}

.bgColorDark {
    background-color: var(--clr-dark);
}

.wrapper {
    display: grid;
    grid-template-columns:
        1fr minmax(min-content, 500px) minmax(min-content, 500px)
        1fr;
    /* #togher grid-auto-rows: auto; */
}

.section {
    min-height: 100vh;
    padding: 45px;
    /* #togher padding: 96px; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: var(--body-size);
}

p {
    line-height: 1.85em;
}

button {
    position: relative;
    border: 2px solid var(--clr-main);
    background-color: transparent;
    color: var(--clr-main);
    padding: 8px 16px;
    font-size: var(--body-size);
    font-weight: var(--font-regular);
    margin-top: 32px;
    height: min-content;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); */
}

button::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 0%;
    right: 0;
    display: block;
    background-color: var(--clr-main);
    z-index: -999;
    animation: buttonInActive var(--transition-200);
}

@keyframes buttonInActive {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

button:hover {
    color: white;
    cursor: pointer;
}

button:hover::after {
    display: block;
    width: 100%;
    left: 0;
    right: -100%;
    animation: buttonActive var(--transition-200);
}

@keyframes buttonActive {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* Alignment in grid */
.alignCenter {
    align-self: center;
}
