/* Sticky Nav */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-light);
    z-index: 1;
}

.navContainer {
    grid-column: 2 / -2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    min-height: 40px;
    width: 100%;
}

.navItem {
    padding: 0px 0.5em;
}

a {
    position: relative;
}

a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--clr-main);
    position: absolute;
    left: 0px;
    display: none;
    animation: link-underline 400ms ease;
}

a.active::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--clr-main);
    position: absolute;
    left: 0px;
}

@keyframes link-underline {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

a:hover {
    color: var(--clr-main);
    transition: var(--transition-200);
}
