.blue {
    color: var(--clr-main);
}

.light {
    color: var(--clr-light);
}

.regular {
    font-weight: var(--font-regular);
}

.title {
    font-size: var(--title-size);
    font-weight: var(--font-bold);
}

.subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--font-regular);
}

.paragraph {
    font-size: var(--body-size);
    font-weight: var(--font-light);
}
