.regular {
    font-weight: var(--font-regular);
}

.title {
    font-size: clamp(var(--subtitle-size), 10vw, var(--title-size));
    font-weight: var(--font-bold);
}

.titlePadding {
    padding-bottom: 40px;
}

.subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--font-regular);
}

.paragraph {
    font-size: var(--body-size);
    font-weight: var(--font-light);
}

/* Text Colors */
.clrDark {
    color: var(--clr-dark);
}

.clrLight {
    color: var(--clr-light);
}

.clrMain {
    color: var(--clr-main);
}

/* Text Alignment in grid */

.alignCenter {
    align-self: center;
}

.flexEnd {
    align-self: flex-end;
}
